In [ ]:
 #7. Write a Python function to find the sum of squares of the numbers in a list.


def sum_squares(nums):
  sum_of_squares = 0
  for number in nums:
    sum_of_squares += number ** 2
  return sum_of_squares


nums=[2,4,5,6,7]
sum_squares(nums)

130

In [ ]:
'''9. Write a Python function to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit =41
Sample output: Temperature in Celsius =5 '''



def convert_temperature(fahrenheit):
  celsius = (fahrenheit - 32) * 5 / 9
  return celsius

fahrenheit = 41
celsius = convert_temperature(fahrenheit)
print("Temperature in Celsius:", celsius)

Temperature in Celsius: 5.0

In [ ]:
'''2. Write a Python function to find the maximum of three numbers Sample input:
34,12,7 Sample output: 34 '''


def fmax(x,y,z):
  return max(x,y,z)
x = float(input("Enter  first number: "))
y = float(input("Enter  second number: "))
z = float(input("Enter  third number: "))

if x>y and x>z:
  print(x,'is  maximum')
elif b>a and b>c:
  print(y,'is  maximum')
else:
  print(z,'is  maximum')

Enter  first number: 8
Enter  second number: 8
Enter  third number: 5
8.0 is the maximum

In [ ]:
'''3. Write a Python function called exponent(base,exp) that returns an integer
value of base raises to the power of exp. Sample input: Enter the base: 2
Enter the exponent: 3 Sample output: 8'''


def exponent(base,exponent):
  print(base**exponent)
base = int(input("enter base:"))
exp=int(input("enter exponent:"))
exponent(base,exp)
#print("the output is:",result)

enter base:6
enter exponent:2
36

In [ ]:
'''5. Write a Python program which iterates from 1 to 10. For multiples of 2, print
“Fizz” instead of the number and for the multiples of 5, print “Buzz”. For
numbers which are multiples of both 2 and 5, print “FizzBuzz”. Sample input:
numbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz Fizz 7 Fizz 9
FizzBuzz'''

for num in range(1,11):
  print(num)
  if num%2==0 and num%5==0:
    print("fizzbuzz")
  elif num%2==0:
    print("fizz")
  elif num%5==0:
    print("buzz")

1
2
fizz
3
4
fizz
5
buzz
6
fizz
7
8
fizz
9
10
fizzbuzz

In [ ]:
'''6. Write a Python function to find the most frequent item in a list of numbers.
Sample input: 2, 3, 4, 2, 5, 2 Sample output: 2'''

s = 0
l1 = [2,3,4,2,5,2]
for n in l1:

  print(s)

In [ ]:
'''10.Write a Python function to calculate the factorial of a number (a nonnegative
integer). The function accepts the number as an argument. Sample input: 3
Sample output: 6'''
if n < 0:
    raise ValueError("n must be a non-negative integer.")
elif n == 0:
    return 1
else:
    return n * factorial(n - 1)


n = 3
print(factorial(n))

In [43]:
'''8.Write a Python program using for loop that will iterate from 1 to 15. For each
iteration, check if the current number is odd or even, and display the message
to the screen as odd or even. Sample input: 1….15 Sample output: 1-odd 2-
even …. 15-odd '''

for i in range(1,16):
  if i%2==0:
    print(f"{i} - even")
  else:
    print(f"{i} - odd")

1 - odd
2 - even
3 - odd
4 - even
5 - odd
6 - even
7 - odd
8 - even
9 - odd
10 - even
11 - odd
12 - even
13 - odd
14 - even
15 - odd

In [44]:
'''4. Write a Python function that takes a positive integer and returns the sum of
the cube of all the positive integers smaller than the specified number.
Sample input: 4 Sample output: 36.'''



def sum_of_cubes(n):
  sum = 0
  for i in range(1, n):
    sum += i**3
  return sum

print(sum_of_cubes(4))

36